/* תשלום */
#fieldset1{
    display: block;
    display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  }
  #fieldset2{
    display: none;
  }
  #fieldset3
  {
    display: none;
  }
  #fieldset4{
    display: none;
  }
  .my_h1{
    color: blue;
    font-size: 50px;
    text-align:center ;
     }
  p{
    color: blue;
    font-size: 15px;
    text-align:center;
  }
  #progressbar
  {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  /* text-align: center; */
  }
  .n{
    font-size:50px ;
  }
  .btn {
  display: inline-block;
  border-radius: 4px;
  background-color:blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; 
  vertical-align:middle ;
  }
  .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
  
  .btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }
  
  .btn:hover span {
  padding-right: 25px;
  }
  
  .btn:hover span:after {
  opacity: 1;
  right: 0;
  }
  
  /*Background color*/
  #grad1 {
  background-color:rgb(255, 255, 255);
  }
  
  /*form styles*/
  #msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
  }
  
  #msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  
  /*stacking fieldsets above each other*/
  position: relative;
  }
  #msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  }
  
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
  display: none;
  }
  
  #msform fieldset .form-card {
  text-align: left;
  color: #9E9E9E;
  }
  #msform input, #msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px;
  }
  .n{
    color: black;
    
  }
  #msform input:focus, #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid blue;
  outline-width: 0;
  }
  
  #msform .action-button {
  width: 100px;
  background: #a07467;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  }
  #msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #a07467;
  }
  
  
  #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color:black;
  font-size: 50px;
  }
  
  #progressbar .active {
  color: #000000;
  }
  
  #progressbar li {
  list-style-type:none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
  }
  
  
  #progressbar #account:before {
  font-family: FontAwesome;
  content: "\f023";
  }
  
  #progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
  }
  
  #progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f09d";
  }
  
  #progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
  }
  #progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  }
  #progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background:black;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
  }
  #progressbar li.active:before, #progressbar li.active:after {
  background: #a07467;
  }
  /*Imaged Radio Buttons*/
  .radio-group {
  position: relative;
  margin-bottom: 25px;
  }
  .radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  }
  /*Fit image in bootstrap div*/
  .fit-image{
  width: 100%;
  object-fit: cover;
  }
  @font-face{
  font-family: my_font;
  src: url(fonts/FontsFree-Net-Monster-School.ttf);
  }